<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <div>
    <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
    <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
  </div>
<% end %>
    